

.allIn {
    display: flex;
    height: 520px;
    width: 80%;
    
}
.allInn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 720px;
    background-image: url("../imgs/aboutus1.jpg");
}
.imgIn {
    width: 50%;
    height: 520px;
    background-color: #107869;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signimg{
    width: 530px;
    height: 520px;
}

.formIn {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e7eb;
    border-radius: 15px;
}

.formInn {
    width: 80%;
    display: block;
    gap: 50px;
}
.see{
    display: block;
}

.btnsign{
    width: 50%;
    height: 30px    ;
    background-color: #accbc6;
    color: white;
}

.cnclsign{
    width: 50%;
    height: 30px;
}
.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    color: #5e9c93;
    margin: 10px;
}
.btns a{
    text-decoration: none;
    color: #5e9c93;
}
.inpt{
    margin: 10px;
}
.inptrec{
    margin: 10px;
    height: 150px;
    width: 265px;
    border-radius: 15px;

}
.titlIn{
font-size: 30px;
    display: flex;
    justify-content: center;
}
.btnbook{
    width: 120px;
    height: 30px;
    background-color: #accbc6;
    color: white;
}

.selectcamp{
    border-radius: 15px;
}
@media screen and (max-width: 792px){
.imgIn{display: none;}

.formIn{
    width: 100%;
}
}